{
  "openapi": "3.1.0",
  "info": {
    "title": "LUNARA Fast Journal Desk",
    "description": "Private editorial desk for LUNARA Journal. Uses consolidated operations to minimize GPT Action round trips. Publishing is disabled by default and excluded from the standard ChatGPT editor scope. A separately publish-scoped credential may use the explicit single-entry action only when Control Plane publishing is enabled, validation passes, and Dalton explicitly instructs the GPT to publish. Never schedules, bulk publishes, deletes, trashes, changes post status outside the dedicated publish action, or activates configuration.",
    "version": "1.3.1"
  },
  "servers": [
    {
      "url": "https://lunarafilm.com/wp-json/lunara/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "LunaraBridgeBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "LUNARA bridge token"
      }
    },
    "schemas": {
      "DraftUpdate": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "title": {
            "type": "string",
            "description": "Approved replacement title."
          },
          "content": {
            "type": "string",
            "description": "Approved replacement body as publishable WordPress HTML."
          },
          "excerpt": {
            "type": "string",
            "description": "Approved replacement excerpt."
          },
          "acf": {
            "type": "object",
            "description": "Only allowlisted Journal ACF fields are accepted.",
            "additionalProperties": true
          }
        }
      }
    }
  },
  "security": [
    {
      "LunaraBridgeBearer": []
    }
  ],
  "paths": {
    "/journal/desk": {
      "get": {
        "operationId": "openJournalDesk",
        "summary": "Open the consolidated Journal Desk",
        "description": "Opens the authenticated Journal Desk with health, Control Plane, Dispatch, image diagnostics, warnings, and one bounded draft page. Use search for named topics such as Odyssey. For a complete inventory, follow pagination.next_page while pagination.has_more is true.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 8
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "One-based results page. Continue with pagination.next_page while pagination.has_more is true."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional WordPress title, excerpt, and body search term."
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Bypass the 60-second desk cache only when the user explicitly asks for a fresh refresh."
          }
        ],
        "responses": {
          "200": {
            "description": "Journal Desk page including global draft_count, matched_drafts, pagination, image_counts, and compact image diagnostics for each returned draft."
          }
        }
      }
    },
    "/journal/desk/drafts/{id}": {
      "get": {
        "operationId": "openJournalWorkspace",
        "summary": "Open one complete Journal editing workspace",
        "description": "Returns the selected draft, required ACF/source/provenance fields, current deterministic validation, and the active compact editorial configuration. It deliberately omits the full audit log.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Complete editing workspace"
          }
        }
      }
    },
    "/journal/desk/drafts/{id}/save-validate": {
      "post": {
        "operationId": "saveAndValidateJournalDraft",
        "summary": "Save the approved revision and validate it in one request",
        "description": "Use only after Dalton approves the exact proposed revision. Saves allowlisted draft fields, records attribution, preserves draft status, and runs deterministic validation in one operation.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved draft plus validation result"
          }
        }
      }
    },
    "/journal/desk/run-dispatch": {
      "post": {
        "operationId": "runDispatchNow",
        "summary": "Queue a manual Dispatch run",
        "description": "Queues the feed/AI/image run asynchronously inside WordPress and returns immediately. It does not wait for generation to finish and cannot publish anything.",
        "responses": {
          "200": {
            "description": "Dispatch queue state"
          }
        }
      }
    },
    "/dispatch/drafts/{id}/mark-ready": {
      "post": {
        "operationId": "markJournalDraftReady",
        "summary": "Mark a validated draft ready for Dalton",
        "description": "Runs validation again, sets the internal ready-for-editor state, and preserves WordPress draft status. Never publishes.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ready-state result"
          }
        }
      }
    },
    "/dispatch/drafts/{id}/audit": {
      "get": {
        "operationId": "getJournalDraftAudit",
        "summary": "Retrieve the audit trail only when requested",
        "description": "Use only for an explicit provenance or troubleshooting request. The normal workspace intentionally omits full audit history for speed.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Draft audit trail"
          }
        }
      }
    },
    "/journal/desk/drafts/{id}/publish": {
      "post": {
        "operationId": "publishJournalDraftNow",
        "summary": "Publish a single validated Journal draft immediately",
        "description": "Publishes exactly one validated Journal entry when Control Plane publishing is enabled and Dalton explicitly instructs the GPT to publish now. The request must confirm immediate publication. Scheduling, bulk publishing, and silent publication are refused.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirm_publish_now": {
                    "type": "boolean",
                    "description": "Must be true only after Dalton explicitly instructs the GPT to publish this exact entry now."
                  }
                },
                "required": [
                  "confirm_publish_now"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The Journal entry was published successfully."
          },
          "400": {
            "description": "Explicit confirmation was missing."
          },
          "403": {
            "description": "The credential lacks publish scope or GPT publishing is disabled in the active Control Plane configuration."
          },
          "409": {
            "description": "The Journal entry failed validation and cannot be published."
          }
        }
      }
    }
  }
}
